#nav{
    /* border: 1px solid red;  */
    margin-top: -80px;
   width: 100%;
   height: 80px;
   display: flex;
   position: fixed;
    background-color: #041628;  
    z-index: 2;
}

#one_div{
   /* border: 1px solid red; */
   width: 30%;
}
#logo_gymwolf{
   width: 145px;
   margin-left: 190px;
   margin-top: 23px;
}

a{
   text-decoration: none;
   letter-spacing: 1px;
   
}
a:hover{
   color: #25a9e0;;
}
#two_div{

   width: 52%;
   display: flex;
   height: 40px;
   font-size: 16px;
   margin-top: 30px;
   margin-left: 90px;
   justify-content: space-around;
   
}
#two_div{
   color: #ffffff;
}
#three_div{
   /* border: 1px solid green; */
   width: 10%;
}
i{
   color: #ffffff;
   cursor: pointer;
}
i:hover{
   color: #25a9e0;
}