*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#logoDiv{
    position: absolute;
    margin: -112px 94px;
    width: 20%;
}
#logoDiv img{
max-width: 207px;
}
#mainDiv{
    /* border: 1px solid red; */
    height: auto;
}
#formDiv{
    width: 27%;
    margin-left: 62%;
    margin-top: 10%;
    margin-right: 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 30px 40px; 
}
#formDiv input{
    outline: none;
    font-size: 16px;
   
}
#formDiv input:hover{
    border:1px solid yellow;
}
#formDiv>input{
    display: block;
  width: 95%;
  padding: 8px;
  margin-bottom: 20px;
}

#formDiv ul{
    display: flex;
    list-style: none;
    gap: 50px;
   font-size: 22px;
   margin-bottom: 30px;
}
#formDiv a{
    font-size: 19px;
    font-weight: 600;
    color: #8b8b8b;
  text-decoration: none;
}
#formDiv a:hover{
    color: black;
}

#checkDiv{
  display: flex;
}
#checkDiv>a{
    width: 50%;
    margin-left: 60px;
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
color: rgb(88, 86, 86);
font-size: 14px;
}
#checkDiv>p{
 margin-left: 10px;
 margin-top: 20px;
 width: 44%;
 font-size: 14px;
}
#checkDiv>input{
 margin-top: 21px;
}
#checkDiv>img{
    height: 17px;
    margin-left: -6px;
margin-top: 20px;
}
#formDiv>#submit{
margin-top: 20px;
width: 100%;
margin-left: 5px;
font-weight: 550;
padding: 13px;
font-size: 18px;
background-color: yellow;
border: none;
cursor: pointer;
}
#google img{
width: 45px;
border: 1px solid rgb(167, 166, 166);
border-radius: 100%;
}
#google {
    margin: 5% 32%;
width: 40%;
text-align: center;
line-height: 40px;
}
#futoor{
margin-top: 10%;
/* border: 1px solid green; */
display: flex;
justify-content: center;
gap: 10px;
}
#futoor img{
width: 75%;
}
#copyRight{
font-size: 13px;
color: gray;
line-height: 30px;
text-align: center;
}

#emailError{
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 13px;
    /* font-weight: 600; */
    color: orangered;
}

#passError{
    margin-top: -20px;
    margin-bottom: -2px;
    font-size: 13px;
    /* font-weight: 600; */
    color: orangered;
}
#checkPassword_In{
    margin-top: 38px;
}

#checkDiv i{
    font-size: 15px;
margin-top: 21px;
margin-left: -7px;
color: gary;
color: grey;
}