*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
*{
  margin: 0px;
  padding: 0px;
}
#container{
    /* border: 1px solid red; */
    border-top: 1px solid #ccc;
    width: 75%;
    height: 550px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
#title{
    margin-left: 190px;
    margin-top: 75px;
}
#data_div{
    width: 64%;
}
#img_div{
   width: 33%;
   /* height: 400px; */
   margin-top: 20px;
   border-radius: 3px;
   /*  */
}
#imgdiv{
    width: 100%;
    border: 1px solid #ccc;
}
#img{
    width: 100%;
    margin-top: 10px;
    border: none;
}
#sort{
    margin-top: 20px;
    color: #333;
    font-size: 15px;
    line-height: 20px;
}
#fault{
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
}
#muscleGroup{
    margin-top: -17px;
    margin-left: 100px;
    color: #428bca;
    cursor: pointer;
}
#step{
    margin-top: 50px;
    color: #333;
}
#steps{
    margin-top: 10px;
    color: #333;
    font-size: 15px;
    line-height: 25px;
}
#tip{
    margin-top: 40px;
}
#tips{
    margin-top: 10px;
    color: #333;
    font-size: 15px;
    line-height: 25px;
}
#btn{
    margin-top: 7px;
    width: 17%;
    height: 35px;
    border-radius: 3px;
    color: #fff;
    background-color: #428bca;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent
}
#btn:hover{
    border-radius: 3px;
    color: #fff;
    background-color: #357ebd;
    font-size: 14px;
}
#iframe{
    border: none;
}
#tc{
    /* border: 1px solid red; */
    width: 100%;
    height: 45px;
    /* justify-content: space-between; */
    display: flex;

}

#div{
    
    
    width: 60%;
    border: 1px solid grey;
}
#photo{
    border: none;
    color: #428bca;
    border-bottom: 1px solid grey;
     width: 18%;
     cursor: pointer;
    
}
#photo:hover{
background-color: rgb(229, 232, 232);
margin-left: 2px;
color: #428bca;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

#video{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 2px ;
    cursor: pointer;
    width: 18%;
    border: 1px solid grey;
    border-bottom: none;
}
/* #video:hover{
background-color: rgb(229, 232, 232);
margin-left: 2px;
color: #428bca;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
} */



.p{ 
    text-align: center;
    margin-top: 12px;
}

#div{
    border: none;
    width: 64%;
    border-bottom: 1px solid grey;
}

iframe{
    border: none;
    margin-top: 16px;
    width: 100%;
    height: 350px;
}

#pic{
    /* margin-top: 40px; */
    width: 100%;
    height: 350px;
}
#con{
    margin-top: 15px;
    height: 350px;
}


